button{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-size:large;
  font-weight: 500;
}

.Button {
    position: relative;
    top:10%;
    left:0%;
    max-height: 6vh; /* i want this to be current vh/38 or smth bc the proportions are nice but like to cater for mobile */
    background-color: var(--darkgrey);
    color: var(--white);
    border:none;
    padding: 10px;
    border-radius:10px;
    margin: 5px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-size:large;
    font-weight: 500;
    /* transition: transform 0.05s ease-in-out, box-shadow 0.2s ease-in-out; */
    /* box-shadow: 0px 4px 4px 0px rgb(0, 0, 0,1); */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Adjusted shadow on hover */

}

.Button:hover {
  transform: scale(0.98);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0); /* Adjusted shadow on hover */
}

p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
  width: auto;
}

/* input{
  position: relative;
  top: 5%;
  background-color: var(--primary);
  color: var(--darkblue);
  padding: 5%;
  border-radius: 5%;
  width: var(--l);

  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
} */

.buttonContainer {

  align-items: center;
  justify-content: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pageContainer {
  position: absolute;
  width: 100vw;
  height: calc(92vh - 60px); /* this is the top of the hierarchy*/
  top: var(--navbar--height);

  display: inline-flex;
  padding: 4% 0%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* row-gap: 10%; */
  background-color: rgba(190, 234, 152, 0.1);
}

.Label {
  position: relative;
  top: 5%;
  background-color: var(--primary);
  color: var(--darkblue);
  padding: 10px;
  border-radius: 10px;

  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
}

.Background {
  width: 100vw;
  height: 93vh;
  background-color: var(--primary);
  background-size: cover;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--primary); /*visibility purposes, get rid later */
  justify-content: space-around;
  /* align-items: flex-start; */
  gap: var(--s);
  width: 200px; /* should i make this flexible later? */
  word-wrap: break-word;
}

.labelContainer {
  display: flex;
  flex-direction: row;
  /* background-color: var(--green); visibility purposes, get rid later */
  justify-content: space-around;

  gap: 5%;
  align-items: center;
}

.tasklistContainer{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items:center;
  gap: 5px;
  overflow:auto;
  width: 500px;
  height: 400px;
  border: 3px solid var(--darkblue);
  fill: var(--darkblue--dim);
}

.smallContainer p {
  flex-shrink: 0;
}

.smallContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width:min-content;
}

.taskContainer {
  display: inline-flex;
  /* padding: 60px 31px; convert these into sensitive numbers later */
  flex-direction: column;
  justify-content: space-around;
  padding: 2% 1%; /* wait is this padding for the inside or outside... it seems like it's for the children */

  width: 60vw;
  height: 40vh;
  /* max-width: 100%;
  max-height: 100%; */

  box-sizing: border-box;
  flex: 1;

  border-radius: 30px;
  background-color: var(--darkblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap: 3%;
  margin: 10px;
  /* position:relative;
  top:25.7vh;
  left:10vw; */

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.line {
  display: flex;
  background: #c32c2c00;
  flex: 1;

  /* flex-grow: 0; */
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.toplineContainer {
  display: flex;

  width: 60vw;
  top: 10vh;

  /* flex-grow: 0; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bottomlineContainer {
  display: flex;

  width: 60vw;
  position: relative;

  /* flex-grow: 0; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.gridContainer {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
}

.taskgridContainer{
  display: flex;
  flex-direction: row;
}

.taskColumn {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

.UrgentImp-Box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: #221717; */
  gap: 40px;
  /* get rid of above later*/
}

.longInputBox {
  position: relative;
  top: 5%;
  background-color: var(--primary);
  color: var(--darktext);
  padding: 5%;
  border-radius: 5%;

  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
}

.Checkbox-checkbox {
  display: inline-flex;
}
