button{
  font-family: 'Josefin Sans';
  font-style: normal;
  font-size:large;
  font-weight: 500;
}

.Button {
    position: relative;
    top:10%;
    left:0%;
    background-color: var(--darkgrey);
    color: var(--white);
    border:none;
    padding: 10px;
    border-radius:10px;
    margin: 5px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-size:large;
    font-weight: 500;
    /* transition: transform 0.05s ease-in-out, box-shadow 0.2s ease-in-out; */
    /* box-shadow: 0px 4px 4px 0px rgb(0, 0, 0,1); */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Adjusted shadow on hover */

}

.Button:hover {
  transform: scale(0.98);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0); /* Adjusted shadow on hover */
}

p {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-size:large;
  font-weight: 500;
  color: var(--white);
  width:auto;
}

/* input{
  position: relative;
  top:5%;
  background-color:var(--primary);
  color: var(--darkblue);
  padding:5%;
  border-radius:5%;
  width: var(--l);

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 500;
} */

.buttonContainer {
  position:absolute;
  top:60%;
  align-items:center;
  justify-content:center;
  gap:20px;
  display: flex;
  flex-direction:column;
}

.pageContainer{
  position: relative;
    width: 60vw;
    height: 55vh; /* this is the top of the hierarchy*/
    left: 10vw;
    top: 10vh;

    display:inline-flex;
    padding: 4% 4%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* row-gap: 10%; */
    background-color: rgba(190, 234, 152, 0.1);
}

.Label {
  position: relative;
  top:5%;
  background-color:var(--primary);
  color: var(--darkblue);
  padding:10px;
  border-radius:10px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
}

.Background {
  width: 100vw;
  height: 93vh;
  background-color: #221717;
  background-size: cover;
  position:absolute;
  z-index: -1;
  overflow: hidden;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  overflow:auto;
  background-color: var(--primary); /*visibility purposes, get rid later */
  justify-content:space-around;
  /* align-items: flex-start; */
  gap: var(--s);
  width:200px; /* should i make this flexible later? */
  word-wrap:break-word;
}

.labelContainer{
  display: flex;
  flex-direction: row;
  /* background-color: var(--green); visibility purposes, get rid later */
  justify-content:space-around;

  gap: 5%;
  align-items:center;
}

.smallContainer p{
  flex-shrink:0;
}

.smallContainer{
  display: flex;
  flex-direction:row;
  align-items: center;
  width:min-content;
}

.taskContainer {

  display: inline-flex;
  /* padding: 60px 31px; convert these into sensitive numbers later */
  flex-direction: column;
  justify-content: space-around;
  padding: 2% 1%; /* wait is this padding for the inside or outside... it seems like it's for the children */

  width: 60vw;
  height: 40vh;
  /* max-width: 100%;
  max-height: 100%; */

  box-sizing: border-box;
  flex:1;

  border-radius: 30px;
  background-color: var(--darkblue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  gap:3%;
  margin: 10px;
  /* position:relative;
  top:25.7vh;
  left:10vw; */

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.line {
  display: flex;
  background: #c32c2c00;
  flex:1;

  /* flex-grow: 0; */
  flex-flow: row wrap;
  align-items: center;
  justify-content:space-around;
  gap:10px;

}

.topLine{
  display: flex;
  display: flex;
  background-color: #bc1f1fcd;

  width: 60vw;
  position: relative;
  left: -2vw;
  top: 10vh;

  /* flex-grow: 0; */
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap:10px;
}

.bottomLine{
  display: flex;
  background-color: #f3f3f3cd;

  width: 60vw;
  position: relative;
  left: -2vw;
  top: 7vh;

  /* flex-grow: 0; */
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap:10px;
}

.gridContainer{
  background-color: var(--grey);
  display:flex;
  flex-direction:column;
}

.taskColumn{
  display:flex;
  flex-flow:column wrap;
  align-content: center;
}

.UrgentImp-Box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: #221717; */
  gap:40px;
  /* get rid of above later*/
}

.longInputBox{
  position: relative;
  top:5%;
  background-color:var(--primary);
  color: var(--darktext);
  padding:5%;
  border-radius:5%;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 500;
}
