.Home-container {
    width: 100vw;
    height: 93vh; /* later i should either actually get rid of the navbar or like, fix this */
    flex-shrink: 0; /* change this later */
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; /* Center items vertically */
    /* background-color: brown; */
}

.Home-logo {
    height: 106px;
    /* Remove left and top properties */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 100px; /* Adjust the font size to fit within the container */
    line-height: 36px; /* Adjust line height accordingly */
    display: flex;
    text-align: center;
    color: var(--primary);
}
.Home-l { /*figure this out later or just insert a photo*/
    height: inline;
    /* Remove left and top properties */
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 700;
    font-size: 100px; /* Adjust the font size to fit within the container */
    line-height: 36px; /* Adjust line height accordingly */
    display: flex;
    text-align: left;
    color: var(--primary);
}

.Home-centerButton {
    display: flex;
    justify-content: center;
}

