.buttonMobile {
    position: relative;
    top:10%;
    left:0%;
    background-color: var(--darkgrey);
    color: var(--white);
    border:none;
    padding: 10px;
    border-radius:10px;
    margin: 5px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-size:large;
    font-weight: 500;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    /*shadow referenced from chatgpt*/
}

.buttonMobile:hover {
  transform: scale(0.98);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
}


.taskgridMobile{
    /* make the tasks stack on top of the grid  */
    display: flex;
    flex-direction: column;
}

.calendarMobile{
    flex-flow: column nowrap;
    justify-content:space-evenly;
    align-items:center;
    gap: 5px;
    overflow:auto;
    width: 500px;
    height: 400px;
    border: 3px solid var(--darkblue);
  }
